---
---

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Arcana</title>
  <link rel="icon" type="image/x-icon" href="/assets/img/key.png">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="stylesheet" href="https://rawcdn.githack.com/nextapps-de/winbox/0.2.82/dist/css/winbox.min.css">
        <script src="https://rawcdn.githack.com/nextapps-de/winbox/0.2.82/dist/js/winbox.min.js"></script>-->

  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

</head>

<body id="homepage">

  <div id="bganim"></div>
  <img id="mob_logo" src="/assets/img/arcana core.png" />

  <div id="fxcontain">
    <div id="fxside">
      <div id="menu">
        <div id="logoimg">
          <img src="/assets/img/arcana 3startext.png" />
        </div>

        <div id="nav">
          <div class="navlink">
            <span class="navarrow">☉︎ </span>
            <a href="about.html">About</a><br>
          </div>

          <div class="navlink">
            <span class="navarrow">⮞ </span>
            <a href="">Instagram</a><br>
          </div>

          <div class="navlink">
            <span class="navarrow">✉ </span>
            <a href="mailto:a.r.c.a.n.a.gateway@gmail.com">Submit</a><br>
          </div>
        </div>

      </div>


    </div>

    <div id="fxmain" class="fxbox">
      <div id="fxmwindow">
        <div id="postholder">

          {% assign notice = site.announcements | reverse %}
          {% for item in notice limit:1  %}
          {% if item.hidden != true %}
          <div class="postitem bigpost postnotice">
            <div>
              <div class="announcetext">NOTICE<span style="float:right">POSTED {{ item.date | date_to_string | upcase }}</span></div>
              <h3>{{ item.title }}</h3>
              {{ item.content | markdownify }}
              <br>
            </div>
          </div>
          {% endif %}
          {% endfor %}

          {% assign posts = site.posts | where_exp: 'post', 'post.hidden == false' %}
          {% for post in posts limit:1 %}
          <div class="postitem bigpost" style="background-image: url('/assets/img/{{ post.category }}.png');">
            <div class="newpostimg" style="background-image: url('{{ post.preview }}');"></div>
            <div class="newpostdetail">

              <h2><a href="#" onclick="win('{{ post.url }}')">{{ post.title }}</a></h2>
              <div class="credits">{{ post.credits }}</div>

              <div>
                <label>NEW</label>
                <span class="postdate">
                  {{ post.date | date_to_string }}
                  <a href="{{ post.url }}" target="_blank">⬏</a>
                </span>
              </div>

            </div>
          </div>
          {% endfor %}

          {% assign posts = site.posts | where_exp: 'post', 'post.hidden == false' %}
          {% for post in posts offset:1 %}   
          <div class="postitem">
            <div class="postdetail">
              <img class="categimg" src="/assets/img/{{ post.category }}.png">

              <a class="postname" href="#" onclick="win('{{ post.url }}')">{{ post.title }}</a>
              <div class="credits">{{ post.credits }}</div>
            </div>

            <span class="postdate">
              {{ post.date | date_to_string }}
              <a href="{{ post.url }}" target="_blank">⬏</a>
            </span>

            {% if post.preview != null %}
            <span class="postpreview">
              <img src="{{ post.preview }}" />
            </span>
            {% endif %}
          </div>
          {% endfor %}

        </div>

      </div>

      <div id="mob_feed">
        <div class="mob_post">

          {% assign notice = site.announcements | reverse %}
          {% for item in notice limit:1  %}
          {% if item.hidden != true %}
          <div class="mob_notice">
            <div class="announcetext">NOTICE<span style="float:right">POSTED {{ item.date | date_to_string | upcase }}</span></div>
            <h3>{{ item.title }}</h3>
            {{ item.content | markdownify }}
            <br>
          </div>
          {% endif %}
          {% endfor %}

          {% for post in site.posts %}
          {% if post.hidden != true %}
          <a href="{{ post.url }}">

            <hr>
            {% if post.preview != null %}
            <div class="mob_postpreview" style="background-image: url('{{ post.preview }}');">

            </div>
            {% endif %}

            <div class="mob_postdetails">
              <h2>{{ post.title }} <span style="float:right"><img class="categimg"
                    src="/assets/img/{{ post.category }}.png"></span></h2>
              <span class="mob_credits">{{ post.credits }}</span><br>
              <span class="postdate">{{ post.date | date_to_string }}</span>
            </a>
          </div>
          {% endif %}
          {% endfor %}

      </div>

    </div>

    <div id="fxdialog" class="">
      <div id="avatar"> </div>
      <div id="transmission">...</div>
    </div>
  </div>

  <div id="fxright"> 
    {% assign notice = site.announcements | reverse %}
    {% for item in notice limit:1  %}
    {% if item.hidden != true %}
    <div id="fxrpanel" >
      <!--<h3>Friends of Arcana</h3>
      <div id="webring">
        {% for friend in site.data.friends %}
        <a href="{{ friend.url }}">♥ {{ friend.name }}</a>
        {% endfor %}
      </div>
      </div>-->

      <div class="announcetext">NOTICE<span style="float:right">♥</span></div>
      <br>
      <h3>{{ item.title }}</h3>
      {{ item.content | markdownify }}
      <br>
      <span class="announcetext">POSTED {{ item.date | date_to_string | upcase }}</span>   
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <script src="/assets/js/script.js"></script>
</body>


</html>