@import 'var.scss';

// background image anim

@keyframes bg {
  0% {
    background: url('/assets/img/bg1.jpg');
    background-size: cover;
    opacity: 0;
    
  }

  25% {
    background: url('/assets/img/bg1.jpg');
    background-size: cover;
    opacity: 0.15;
  }

  50% {
    background: url('/assets/img/bg1.jpg');
    background-size: cover;
    opacity: 0;
  }

  51% {
    background: url('/assets/img/bgt2.jpg');
    background-size: cover;
    opacity: 0;
  }

  75% {
    background: url('/assets/img/bgt2.jpg');
    background-size: cover;
    opacity: 0.15;
  }

  100% {
    background: url('/assets/img/bgt2.jpg');
    background-size: cover;
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes post_intro {
  0% {
    opacity: 0;
    pointer-events: none;
  }

  100% {
    opacity: 0.75;
    pointer-events: all;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


@keyframes shuffle {
  0%{ transform: translate(0px, 0px)}
  50%{ transform: translate(0px, -5px)}
  100%{ transform: translate(0px, 0px)}
}


#bganim {
  width: 100%;
  height: 100%;
  background: url('');
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -100;
  -webkit-animation: infinite 20s bg;
  animation: infinite 20s bg;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#bgholder{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.15;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  img.active {
    opacity: 1;
  }

  .bg_alt{
    filter: invert(1);
  }
}



//main homepage layout
#homepage {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100cqh;
  width: 100%;
}

#fxcontain {
  max-height: 850.629px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2vw;
  column-gap: 2vw;
  padding: 3vh 5vw 4vh 7vw;

  @media (max-width: 1800px) {
    column-gap: 1vw;
    padding: 3vh 5vw 4vh 3vw;
  }

  @media (max-width: 1200px) {
    padding: 5vh 5vw 0 4vw;
  }
}

//#fxcontain div{ background: white; }
#fxside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 14vw;
  width: 14vw;
  max-width: 258px !important;
  box-sizing: border-box;
}

#avatar {
  width: 304px;
  height: 304px;
  max-width: min(31vh, 19vw);
  max-height: min(31vh, 19vw);
  background-image: url('/assets/img/avatar/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  opacity: 0;
  transform: translateX(-84%) translateY(-88.5%);
  -webkit-animation: intro 0.3s ease-in 1s 1 forwards !important;
          animation: intro 0.3s ease-in 1s 1 forwards !important;
}

#fxmain {
  width: 100%;
  height: 100%;
  justify-content: center;
  max-width: 992.988px !important;
  max-height: 775px !important;
}

#fxmwindow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: min(1156px, 80vw);
  background-image: url('/assets/img/mainframe.png');
  background-repeat: no-repeat;
  background-size: 100% 100%, contain;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  height: 565.206px;
  width: 992.988px;
  max-height: 70vh;
  container-type: size;
  -webkit-animation: intro 0.3s ease-in 0.1s 1 forwards;
          animation: intro 0.3s ease-in 0.1s 1 forwards;
}

#postholder {
  max-width: 100cqw;
  height: 81.9cqh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10.5cqh;
  margin-right: 6cqw;
  margin-bottom: 8cqh;
  margin-left: 6cqw;
  container-type:size;
}

#fxdialog {
  width: 97%;
  height: 169px;
  max-height: 22vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/assets/img/diagframe.png');
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
  container-type: size;
  opacity: 0;
  -webkit-animation: intro 0.3s ease-in 0.5s 1 forwards;
          animation: intro 0.3s ease-in 0.5s 1 forwards;
}

#transmission {
  overflow: hidden;
  position: relative;
  top: 45cqh;
  left: 10.5cqw;
  letter-spacing: 10px;
  font-style: italic;
  white-space: nowrap;
  text-overflow: clip;
  width: 0;
  -webkit-animation: typing 1s linear 1s 1 forwards !important;
          animation: typing 1s linear 1s 1 forwards !important;
}


#fxright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
}


//menu
#menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $primary;
  padding: 30% 10% 10% 10%;
  box-sizing: border-box;

  a {
    transition: 0.6s;
    text-decoration: none;
  }

  a:hover {
    font-style: oblique 20deg;
  }
}

#menu img {
  width: 12vw;
  max-width: 288.11px;
}

#nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 150px;
}

.navarrow {
  display: inline;
  text-align: center;
  opacity: 0.2;
  transition: 0.5s;
  width: 3.6vw !important;
  margin: 0 5% 0 24px;

  img{
    width: auto !important;
    height: 16px !important;
  }
}

.navlink:hover {
  .navarrow {
    opacity: 1;
  }
}


// main feed window

.postitem {
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.2s;
  max-width: 100cqw;
  pointer-events: none;
  opacity: 0;
  margin-bottom: 2cqh;
  margin-right: 4cqw;
  margin-left: 4cqw;
  -webkit-animation: post_intro 0.3s ease-in 0.1s forwards;
          animation: post_intro 0.3s ease-in 0.1s forwards;
  -webkit-animation-delay: 0;
          animation-delay: 0;

  a {
    transition: 0.6s;
  }

  a:hover {
    font-style: oblique 20deg;
  }
}

@media (max-width: 1590px) {
  .postitem:first-child{
    margin-top: 9cqh;  
  }
}

@media (min-width: 1591px) {
  .postitem:nth-child(2){
    margin-top: 9cqh;
  }
}

.postitem:hover {
  opacity: 1 !important;

  /*.postpreview {
    display: block;
  }*/
}

@for $i from 1 through 10 {
  .postitem:nth-child(#{$i}n) {
    -webkit-animation-delay: calc(($i / 4) * 1s);
            animation-delay: calc(($i / 4) * 1s);
  }
}

.postname {
  overflow: hidden;
  max-height: 100%;
}

#postpreview {
  display: none;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  width: 500px;
  height: 400px;
  border: none;
}

#previewimg {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top left;
  object-position: top left;
  width: 100%;
  height: 100%;
}


.postdetail {
  display: flex;
  gap: 20px;
  line-height: 1.6;
}

.credits {
  white-space: nowrap;
  text-overflow: clip;
  max-width: 80%;
  text-overflow: "...";
  overflow: hidden;
  margin: 0;
  padding: 0;

}

.categimg {
  width: auto;
  height: 25px;
}

.postdate {
  float: right;
  text-align: right;
  opacity: 0.5;
  width: 150px;
}

.bigpost {
  height: 100px;
  border-radius: 25px;
  gap: 20px;
  background-position: 99.3% 7%;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;

  .credits{
    max-width: 80%;
  }
}

.newpostimg {
  height: 100px;
  width: 180px;
  background: gray;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.newpostdetail{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  text-align: left;
  justify-content: space-between;

  h2{
    font-family: "Redaction 20";
    margin: 0;
    margin-bottom: -10px;
  }
}

label{
  font-size: 7pt;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-shadow: none;
}

#fxrpanel{
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255,255,255,0.6);
  color: rgba(0, 0, 0, 0.5);  
  box-shadow: $boxblur;
  padding: 20px;
  width: 15vw;
  max-width: 330px !important;
  margin-top: 10vh;
  text-shadow: none;
  font-size: 10pt;
  animation: shuffle 5s infinite ease;

  h3{
    font-family: "Redaction 20";
    margin: 0 0 -5px 0;
  }

  @media (max-width: 1590px) {
    display: none;
  }

  /*a{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 10pt;
  }

  a:hover{
    border-color: $primary !important;
    color: $primary !important;
  }*/
}

.announcetext {
  font-family: monospace !important;
  font-size: 10pt;
}

.postnotice{
  display: none;
  height: unset !important;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
  text-shadow: none;
  font-size: 10pt;
  div{ 
    width: 100%; 
  }

  p, span{ 
    margin: 0 
  }

  h3{
    font-family: "Redaction 20";
    margin: 10px 0 5px 0;
  }

  @media (max-width: 1590px) {
    display: block;
  }
}


/*
#webring{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
*/