@use "home";
@use "post";
@use 'mobile';

@import "var.scss";

//@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

@font-face {
  font-family: "AUTHENTIC Sans 90";
  src: url("/assets/font/authentic.woff2");
}

@font-face {
  font-family: "Redaction 20";
  src: url("/assets/font/redaction.woff2");
}

body {
  margin: 0;
  //font-family: 'MS Mincho', 'MS PGothic', 'メイリオ', Meiryo, sans-serif;
  font-family: $font;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  font-size: 12pt;
  background: $bg-co;
  color: $primary;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: inherit;
}

hr {
  opacity: 0.3;
}

h1, h2, h3{
  font-weight: normal;
}

blockquote {
  border-left: 1px solid $primary;
  margin: 0;
  padding: 0 0 0 20px !important;
  font-style: italic;
}

.arcana_statement {
  display: flex;
  justify-content: center;
  font-size: 11pt;
  line-height: 1.7;
  text-align: center;

  p{
    padding: 0 5% 0 5%;
  }

  .postimg{
    max-width: unset;
  }

  #statement_logo{
    width: 100px !important;
  }

  #cardsimg{
    width: 65%;
    opacity: 0.5;
  }
}

