@import 'var.scss';

#mob_logo,
#mob_feed {
  display: none;
}

@media (max-width: 1000px) {

  body {
    overflow-x: unset;
  }

  #homepage {
    overflow-x: unset;
    overflow-y: scroll;
    display: block;
  }

  #fxcontain {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  #fxmwindow,
  #fxdialog,
  #avatar {
    display: none;
  }

  #fxside {
    background-color: transparent;
    width: 100% !important;
    padding: 3%;
    position: fixed;
    align-self: flex-start;
    max-width: unset;
  }

  #menu {
    background-color: transparent;
    width: 100% !important;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
  }

  #logoimg {
    background-color: transparent;
    height: 100%;
    //transform-origin: right bottom;

    img {
      display: none;
      //width: 130px !important;
      //transform: rotate(-90deg) translateX(26%);
      //transform-origin: bottom right;
    }
  }

  #mob_logo {
    display: block;
    position: fixed;
    top: 3%;
    right: 3%;
    width: 130px !important;
    transform: rotate(-90deg) translateX(26%);
    transform-origin: bottom right;
    mix-blend-mode: difference;
    background-color: white;
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  #nav {
    height: 100%;
    display: inline;
  }

  .navlink {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12pt;
    transform: none;
    box-shadow: $boxblur;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: $bg-co;
    margin-bottom: 5px;
    opacity: 0.95;

    a {
      text-decoration: none !important;
    }
  }

  .navarrow {
    display: none;
  }

  #fxmain {
    //background: rgb(143, 80, 80);
    margin-top: 200px;
  }

  #mob_feed {
    display: block;
  }

  .mob_post {
    background-color: $bg-co;

    a {
      text-decoration: none !important;
    }

    hr {
      margin: 0 !important;
    }
  }

  .mob_postdetails {
    padding: 1% 3% 6% 3%;

    h2 {
      font-weight: 100;
    }

    .postdate {
      float: unset;
      line-height: 2;
    }
  }

  .mob_postpreview {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .postinfo {
    position: fixed;
    top: 2%;
    left: 3%;

    span {
      display: none;
    }
  }

  .postbody {
    padding: 3%;
  }

  .postcontent * {
    padding: 0 !important;
  }

  .postcontent {
    padding-top: 100px !important
  }

  .postimg {
    max-width: 100%;
  }
}