@import 'var.scss';
$avatars: min(300px, 25vh, 40vw);

@media (max-width: 1000px) {
  .postitem:first-child {
    margin-top: 6cqh;
}

  #fxcontain {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -moz-column-gap: 2vw;
    column-gap: 2vw;
    padding: 0!important;
  }

  #fxmwindow {
    max-width: 100vw;
    width: calc(100vw - 2px);
    height: calc(100vh - 7px - min(300px, 25vh, 40vw));
    max-height: 90vh;
    margin: 1px;
  }

  #fxchar{
    width: 100vw;
    height: $avatars;
    bottom: 5px;
    position: absolute;

    #fxdialog {
      position: absolute;
      right: 6px;
      width: calc(100vw - 10px - $avatars);
      height: $avatars;
      max-height: $avatars;
      bottom: 0;
    }

    #avatar {
      width: 25vh;
      height: 25vh;
      max-width: $avatars;
      max-height: $avatars;
      background-size: 70% 69.5%, contain;
      transform: none;
    }
  }

  .bigpost{
    background-size: 31px;
    background-position: 99.3% 3%;
  }
  .postitem{
    border-radius: 15px !important;
  }
  #fxside{
    position: absolute;
    bottom: calc(5px + $avatars);
    width: 100vw;
    max-width: 100vw !important;

    #menu {
      width: 100vw;
      display: flex;
      gap: 20px;
      color: rgba(0, 0, 0, 0.9);
      padding: 30% 10% 10% 10%;
      box-sizing: border-box;
      flex-direction: row;
      padding: 0 !important;

      #nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        width: 100vw;
        justify-content: space-evenly;
        z-index:100;

        .tempclr{
          background-color: #FFFF00;
        }
        .navlink{    

          .navarrow {
            display: none;
          }
        }
      }
    }
  }
}