@import 'var.scss';

// post info panel

.postinfo {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: $boxblur;
  padding: 15px 30px 15px 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: $bg-co;
  color: $primary !important;
  font-family: $font !important;
  font-size: 10pt !important;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 10;
}

.postinfo:hover {
  opacity: 1;
}

.postinfo b {
  margin-right: 20px;
}

.postinfo i {
  opacity: 0.5;
  float: right;
}

#postlogo img {
  height: 20px;
}

#backlink {
  display: none;
}


// post content

.postcontent {
  margin: 0 0 100px 0;
  max-width: 100%;
}

.postarticle {
  @media (min-width: 1000px) {
    max-width: 60% !important;
    margin-left: 20px;
  }
}

.postcontent * :not(h1, h2, h3) {
  padding: 10px 0 10px 0;
}

.postimg {
  max-width: 80%;
  max-height: 60%;
}

.postimg img {
  -o-object-fit: contain;
  object-fit: contain;

  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.postbody {
  padding: 150px 40px 100px 40px;
}


li:has(.postimg) {
  list-style-type: none;
}

@media (min-width: 1000px) {

  ul:has(.postimg) {

    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex: auto;
    gap: 1%;

    li {
      width: 100%;
      //flex-basis: fit-content;
    }

    * {
      padding: 0 !important;
    }

    .postimg {
      height: auto;
      max-width: unset;
    }

    .postimg img {
      width: 100%;
      height: 100%;
      -o-object-fit: unset;
         object-fit: unset;
    }

    margin: 0 !important;
    padding: 0 0 0.8% 0 !important;
  }

  em:has(.postimg) {
    .postimg {
      max-width: unset;

      img {
        box-sizing: border-box;
        padding: 15% 30% 15% 30%;
      }
    }
  }

  strong:has(.postimg) {
    max-width: none !important;

    .postimg {
      max-width: none !important;
      width: 100vw;
      margin: -40px;
      padding: 40px 0 40px 0;

      img {
        width: 100vw;
      }
    }
  }

}