---
---

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="/assets/img/article.png">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>

<body class="postbody">

  <div class="postinfo" id="postinfo">

    <a id="postlogo" href="/"><img src="/assets/img/arcana core.png" /></a>


    <span>
      <a id="backlink" href="">(back)</a>
      <b>{{ page.title }}</b> <i>{{ page.date | date_to_string }}</i>
      <!--<hr>
                {{ page.credits }}-->
    </span>
  </div>

  <div class="postcontent postarticle">
    {{ content }}
  </div>

  <br><br>

  <script src="/assets/js/script.js"></script>

</body>

</html>